@import "tailwindcss";

@theme {
  /* We use the 'brand-' prefix here */
  --color-brand-light-blue: #EEF1FD;
  --color-brand-dark-navy: #10224B;
  --color-brand-vibrant-blue: #0021C1;
  --color-brand-yellow: #FFC700;

  --font-gudlak: var(--font-gudlak);
}

/* To hide the VS Code warnings, you can add this: */
@utility text-balance {
  text-wrap: balance;
}